a{
    color:rgb(195, 0, 111);
  } 

h1{
    color:rgb(0, 0, 0);
    margin-bottom: 60px;
    font-size: 36px;
font-family: 'Spoqa Han Sans KR', sans-serif;
}
.a-toggle{
    font-size: 24px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 12px;
}   
.menu{
    display:flex;
}
.photo{
    display:flex;
}
.photo img{
    width: 450px;
    height: 800px;
}