a{
    color:rgb(195, 0, 111);
  } 

h1{
    color:rgb(0, 0, 0);
    padding-left: 12px;
    padding-top: 0px;
    padding-right: 8px;
    margin: 24px 24px 60px 24px;
    border-left: 1px solid #000;
    font-size: 36px;
font-family: 'Spoqa Han Sans KR', sans-serif;

}
ul{
    list-style: none;
    padding-left: 12px;
    padding-top: 0px;
    padding-right: 8px;
    margin: 24px 24px 60px 24px;
    border-left: 1px solid #000;
    font-size: 24px;
}